<section class="registerContainer">

    <h1 class="h1_register">Registrarse</h1>

<form action="/api/users/" method="post">
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" name="firstName">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" name="lastName">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <div class="mb-3 form-check">
    <label for="exampleInputPassword1" class="form-label">Role</label>
    <select name="role">
      <option name="user" value="user">User</option>
      <option name="admin"value="admin">Admin</option>
      <option name="premium"value="premium">premium</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

</section>