<div class="serverError">

                <h3>{{text}}</h3>

        <img class="serverError__img" src="https://cdn.dribbble.com/users/2588155/screenshots/5845720/attachments/1259606/dribble.png" alt="serverError">

</div>